.firstDiv {
  background-color: rgba(165, 42, 42, 0.267);
}
// .secondDiv {

// }
.thirdDiv {
  content: "";
  background-image: url(city.jpg);
  background-size: cover;
  // opacity: 0.9;
  background-repeat: no-repeat;
  width: 106%;
  position: relative;
  left: -14.5px;
}
.thirdDiv::after {
  background-color: rgba(0, 0, 0, 0.726);
  opacity: 0.5;
}

.perMsg {
  background-color: rgba(192, 185, 185, 0.993);
  color: black;
}
.signinbg {
  background-image: url(SpiderMan.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.customButton {
  background-image: linear-gradient(
    to right,
    #5aa3f7,
    #e7074a
  ); /* Initial gradient */
  // transition: background-image 3s ease-in-out;
  color: white;
  &:hover {
    background-image: linear-gradient(
      to right,
      #e7074a,
      #5aa3f7
    ); /* Gradient on hover */
    transform: scale(1.05);
  }
}
